<h1>Register new Player Account</h1>

<%= form_tag("/players") do %>
    <p>
        <%= label_tag "playername", "Player Name:" %>
        <%= text_field_tag "playername" %>
    </p>

    <p>
        <%= label_tag "password", "Password:" %>
        <%= if @player && @player.errors[:password] %>
        <p>Please enter a password</p>
        <% end %>

        <%= password_field_tag "password" %>
    </p>
        <%= submit_tag "Register" %>
<% end %>