<!DOCTYPE html>
<html>
  <head>
    <title>RaidFinderApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if session[:current_player_id] %>
  <nav>
    You are logged in as: <%= @current_player.playername %>
  </nav>
  <% end %>
    <%= yield %>
  </body>
</html>
