<!DOCTYPE html>
<html>
  <head>
    <title>RaidFinderApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <section>
        <%= link_to_unless_current "Home", root_path %> |
        <%= link_to_unless_current "Open Raids", raids_path %> |
        <%= link_to_unless_current "New Raid", new_raid_path %>
      </section>

      <section class="utility">
        <% if session[:current_player_id] %>
        You are logged in as: <%= @current_player.playername %> | <a href="/logout">Logout</a>
        <% else %>
        <%= link_to_unless_current "Login", login_path %> |
        <%= link_to_unless_current "Register", register_path %>
        <% end %>
      </section>
    </nav>
    <% end %>
    <%= yield %>
  </body>
</html>